@model Product

<p>Create Page</p>

<div class="container col-md-6">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-banger"></div>
        <div class="mb-3">

            <label asp-for="id" for="exampleInputEmail1">ID</label>
            <input asp-for="id" type="number" class="form-control">
            <span asp-validation-for="id" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="name" for="exampleInputEmail1">Name</label>
            <input asp-for="name" class="form-control">
            <span asp-validation-for="name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="price" for="exampleInputEmail1">Price</label>
            <input asp-for="price" type="number" class="form-control">
            <span asp-validation-for="price" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="amout" for="exampleInputEmail1">Amount</label>
            <input asp-for="amout" type="number" class="form-control">
            <span asp-validation-for="amout" class="text-danger"></span>
        </div>

        <div>
            <button type="submit" class="btn btn-outline-danger">Submit</button>
            <a class="btn btn-outline-danger" asp-action="Index">Back</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}