@model IEnumerable<Product>

<div class="row">

    @foreach (var item in Model)
    {

        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card w-100" style="width: 18rem;">
                <img src="https://imgupscaler.com/images/samples/animal-after.webp" class="card-img-top" style="height:300px;max-height:300px;object-fit:cover">
                <div class="card-body md-3">
                    <h5 class="card-header">ID : @item.Id</h5>
                    <h5 class="card-title">Name : @item.Name</h5>
                    <div class="pl-1">
                        <p>
                            List Price:
                            <strike><b>$@item.Price.ToString("0.00")</b></strike>
                        </p>
                    </div>
                    <h5 class="card-title">Price : @item.Price</h5>
                </div>
                <a asp-action="Details" asp-route-productId="@item.Id" class="btn">Detail</a>
            </div>
        </div>
    }

</div>